################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/wro_2019/.vs/wro_2019/v15
/wro_2019/VisualGDB/Debug
/wro_2019/wro_2019/VisualGDB/Debug
/wro_2019/wro_2019_exe/VisualGDB/Debug
/.vs
