*
!highLogic
!.gitignore
!wro2019main
!wro2019main/**

!Tests
!Tests/**/
!Tests/**/*

!**/*.cpp
!**/*.h
/wro2019main/.vs/wro2019main/v15
*.filters
*.user
*.vgdbsettings
/wro2019main/VisualGDB/Debug/CodeDB
*.vcxproj
*.sln
