
!v-rep/**
!highLogic
!.gitignore
!wro2019main
!wro2019main/**

!Tests
!Tests/**/
!Tests/**/*

Tests/lidar_math/*.ld

!**/*.cpp
!**/*.h

/wro2019main/.vs/wro2019main/v15
*.filters
*.user
*.vgdbsettings
/wro2019main/VisualGDB/Debug/CodeDB
*.vcxproj
*.sln
*.db*
*.lib
*.tlog*
*.exe
*.dll
**/Debug/**
**/.vs/**
/wro2019main/Robot_exe/VisualGDB/Debug
/wro2019main/Robot_high_lvl_lib/VisualGDB/Debug
/wro2019main/Robot_low_Lvl_lib/VisualGDB/Debug
/wro2019main/VisualGDB/Debug
*.props
/wro2019main/Tests/VisualGDB/VisualGDBCache/Tests-Debug
/wro2019main/Tests/VisualGDB/Debug
/wro2019main/Robot_exe/VisualGDB/Release
/wro2019main/Robot_high_lvl_lib/VisualGDB/Release
*.dep
*.rsp
*.o
*.log
*.alldeps
/wro2019main/VisualGDB/Release
/wro2019main/TestCpp/VisualGDB/VisualGDBCache/TestCpp-Debug
*.ino
*.TMP
/wro2019main/Wro_Vision_Opencv/Wro_Vision_Opencv/Debug/Wro_Visi.93612EAB.tlog
*.idb
*.pdb
*.obj
*.pch
/wro2019main/Wro_Vision_Opencv/Debug
/wro2019main/Wro_Vision_Opencv/.vs/Wro_Vision_Opencv/v15
